# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
*.log

# MySQL Local
mysql_server/
mysql_data_new/
mysql_data/
*.bat
*.ini

# Maven Local
.m2/
settings.xml

# Scripts
query
start
stop
delete
init-db.ps1
run-backend.ps1
run-frontend.ps1
setup-maven.ps1
setup-mysql.ps1
